In [ ]:
## How is covid19 affecting refugees

In [36]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib import rcParams
from collections import Counter 

from datetime import date


plt.rcParams['font.family'] = 'serif'
plt.rcParams['font.serif'] = ['Times New Roman'] + plt.rcParams['font.serif']
plt.rcParams['font.size'] = '14'

In [ ]:
Bangladesh 
Brazil
Burkina Faso
Central African Republic 
Colombia
Venezuela
Democratic Republic of Congo
France
Germany
Greece
Iran
Iraq
Italy
Jordan 
Kenya
Lebanon
Libya
Malaysia
Morocco
Pakistan
Palestine
Philippines
Portugal
Spain
Syria
Tanzania
Uganda
Ukraine
US
Worldwide
Yemen

In [82]:
countries=['Bangladesh', 'Brazil','Burkina_Faso','Central_African_Republic','Colombia','Democratic_Republic_of_the_Congo' ,'France','Germany',\
'Greece','Iran','Iraq','Italy','Jordan' ,'Kenya','Lebanon','Libya','Malaysia','Morocco','Pakistan','Palestine',\
           'Philippines','Portugal','Spain','South_Sudan','Syria','United_Republic_of_Tanzania','Uganda','Ukraine',\
           'United_States_of_America','Venezuela','Yemen',]

In [83]:
cases = pd.read_csv('https://opendata.ecdc.europa.eu/covid19/casedistribution/csv')
cases.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,08/04/2020,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0
1,07/04/2020,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0
2,06/04/2020,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0
3,05/04/2020,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0
4,04/04/2020,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0

In [84]:
cases.countriesAndTerritories.unique()

array(['Afghanistan', 'Albania', 'Andorra', 'Algeria', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia', 'Cuba',
       'Cura√ßao', 'Cyprus', 'Czechia', 'Democratic_Republic_of_the_Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican_Republic', 'Ecuador',
       'Egypt', 'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia', 'New_Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Saudi_Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra_Leone',
       'Singapore', 'Sint_Maarten', 'Slovakia', 'Slovenia', 'Somalia',
       'South_Africa', 'South_Korea', 'South_Sudan', 'Spain', 'Sri_Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Thailand', 'Timor_Leste', 'Togo', 'Trinidad_and_Tobago',
       'Tunisia', 'Turkey', 'Turks_and_Caicos_islands', 'Uganda',
       'Ukraine', 'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Zambia', 'Zimbabwe'], dtype=object)

In [163]:
selectedcases = cases[['countriesAndTerritories','cases','deaths','dateRep']]

In [164]:
refcases = selectedcases[selectedcases.countriesAndTerritories.isin(countries)]
refcases.countriesAndTerritories.unique()

array(['Bangladesh', 'Brazil', 'Burkina_Faso', 'Central_African_Republic',
       'Colombia', 'Democratic_Republic_of_the_Congo', 'France',
       'Germany', 'Greece', 'Iran', 'Iraq', 'Italy', 'Jordan', 'Kenya',
       'Lebanon', 'Libya', 'Malaysia', 'Morocco', 'Pakistan', 'Palestine',
       'Philippines', 'Portugal', 'South_Sudan', 'Spain', 'Syria',
       'Uganda', 'Ukraine', 'United_Republic_of_Tanzania',
       'United_States_of_America', 'Venezuela'], dtype=object)

In [165]:
refcases.head()

    countriesAndTerritories  cases  deaths     dateRep
848              Bangladesh     41       5  08/04/2020
849              Bangladesh     35       3  07/04/2020
850              Bangladesh     18       1  06/04/2020
851              Bangladesh      9       2  05/04/2020
852              Bangladesh      5       0  04/04/2020

In [166]:
refcases.countriesAndTerritories.unique()

array(['Bangladesh', 'Brazil', 'Burkina_Faso', 'Central_African_Republic',
       'Colombia', 'Democratic_Republic_of_the_Congo', 'France',
       'Germany', 'Greece', 'Iran', 'Iraq', 'Italy', 'Jordan', 'Kenya',
       'Lebanon', 'Libya', 'Malaysia', 'Morocco', 'Pakistan', 'Palestine',
       'Philippines', 'Portugal', 'South_Sudan', 'Spain', 'Syria',
       'Uganda', 'Ukraine', 'United_Republic_of_Tanzania',
       'United_States_of_America', 'Venezuela'], dtype=object)

In [176]:
summary = refcases.groupby(['countriesAndTerritories']).sum()
summary['date'] = date.today()
summary.index

Index(['Bangladesh', 'Brazil', 'Burkina_Faso', 'Central_African_Republic',
       'Colombia', 'Democratic_Republic_of_the_Congo', 'France', 'Germany',
       'Greece', 'Iran', 'Iraq', 'Italy', 'Jordan', 'Kenya', 'Lebanon',
       'Libya', 'Malaysia', 'Morocco', 'Pakistan', 'Palestine', 'Philippines',
       'Portugal', 'South_Sudan', 'Spain', 'Syria', 'Uganda', 'Ukraine',
       'United_Republic_of_Tanzania', 'United_States_of_America', 'Venezuela'],
      dtype='object', name='countriesAndTerritories')

In [182]:
summary.index=summary.index.str.replace('United_Republic_of_Tanzania', 'Tanzania',regex=False)
summary.index= summary.index.str.replace('United_States_of_America', 'US',regex=False)
summary.index=summary.index.str.replace('Central_African_Republic', 'Central African Republic',regex=False)
summary.index= summary.index.str.replace('Burkina_Faso', 'Burkina Faso',regex=False)
summary.index= summary.index.str.replace('Democratic Republic of the Congo', 'Democratic_Republic_of_the_Congo',regex=False)

In [183]:
summary.to_csv('latest_refugees_cases.csv')